@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Lato&display=swap');
body,
html {
	margin: 0;
	height: 100%;
	position: relative;
	font-family: 'Lato', sans-serif;
}

.card-img-top {
	margin-top: 5%;
	max-width: 100px;
	height: auto;
	text-align: center;
}

h1 {
	font-size: 6vmin;
}

.row {
	text-align: center;
}

.shhh {
	padding-top: 5vmin;
	padding-bottom: 5vmin;
	margin: 0;
	color: rgb(255, 255, 255);
	position: static;
	display: block;
}

#beginning {
	background-image: url("onas1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	height: 100%;
}

#navbar {
	overflow: hidden;
	z-index: 99;
	background-color: white;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.content {
	text-align: justify;
	margin: 10%;
}

.nav-link {
	color: rgb(148, 38, 38);
	font-size: 120%;
}

.nav-link:hover {
	background-color: rgb(148, 38, 38);
	color: white;
}

h6 {
	text-align: center;
}

h3 {
	text-align: center;
	font-family: 'Amiri', serif;
}

.section-header {
	padding-top: 11%;
	text-align: center;
	padding-bottom: 2%;
	font-size: 48px;
	font-family: 'Amiri', serif;
}

.contact {
	font-size: 2em;
	color: black;
}

.card{
  margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
	.logo {
		padding-top: 5vmin;
		margin-bottom: 15vmin;
		max-width: 20vh;
		height: auto;
	}
	.row {
		padding-bottom: 2vmin;
		padding-top: 2vmin;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		padding: 2vh;
		max-width: 20vh;
		height: auto;
	}
	.row {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.card {
		margin-bottom: 2vmin;
		margin-top: 2vmin;
	}
	.btn {
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 15px;
		font-size: 110%;
		line-height: 1;
	}
	.section-header {
		padding-top: 25%;
	}
	.breakpoint2 {
		display: none;
	}
}

@media screen and (max-width: 768px) and (max-height: 700px) {
	/* .breakpoint {
		display: none;
	} */
	.btn {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 10px;
		font-size: 100%;
	}
}

@media screen and (max-width: 768px) and (max-height: 600px) {
	.breakpoint {
		display: none;
	}
	.btn {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 10px;
		font-size: 100%;
	}
}